{% if item.name is defined %}{{ 'NAME=' ~ item.name ~ '\n' }}{% endif %}
{% if item.type is defined %}{{ 'TYPE=' ~ item.type ~ '\n' }}{% endif %}
{% if item.device is defined %}{{ 'DEVICE=' ~ item.device ~ '\n' }}{% endif %}
{% if item.bootproto is defined %}{{ 'BOOTPROTO=' ~ item.bootproto ~ '\n' }}{% endif %}
{% if item.persistent_dhclient is defined %}{{ 'PERSISTENT_DHCLIENT=' ~ (item.persistent_dhclient | ternary('yes', 'no')) ~ '\n' }}{% endif %}
{% if item.defroute is defined %}{{ 'DEFROUTE=' ~ (item.defroute | ternary('yes', 'no')) ~ '\n' }}{% endif %}
{% if item.onboot is defined %}{{ 'ONBOOT=' ~ (item.onboot | ternary('yes', 'no')) ~ '\n' }}{% endif %}
{% if item.ipaddr is defined %}{{ 'IPADDR=' ~ item.ipaddr ~ '\n' }}{% endif %}
{% if item.prefix is defined %}{{ 'PREFIX=' ~ (item.prefix | string) ~ '\n' }}{% endif %}
{% if item.netmask is defined %}{{ 'NETMASK=' ~ item.netmask ~ '\n' }}{% endif %}
{% if item.network is defined %}{{ 'NETWORK=' ~ item.network ~ '\n' }}{% endif %}
{% if item.broadcast is defined %}{{ 'BROADCAST=' ~ item.broadcast ~ '\n' }}{% endif %}
{% if item.gateway is defined %}{{ 'GATEWAY=' ~ item.gateway ~ '\n' }}{% endif %}
{% if item.dns is defined %}{% for dns in item.dns %}{{ 'DNS' ~ (loop.index | string) ~ '=' ~ dns ~ '\n' }}{% endfor %}{% endif %}
